
[Desktop Entry]
Name=Remastersys USB Startup Disk Tool
GenericName=USB Startup Disk Tool
Comment=USB Startup Disk Tool
Exec=remsu /usr/bin/remastersys-usb-key-copy-tool
Icon=/usr/share/icons/remastersys.png
Terminal=false
MultipleArgs=false
Type=Application
Encoding=UTF-8
Categories=GTK;System
NotShowIn=KDE
X-KDE-SubstituteUID=true

