[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Remastersys Backup
GenericName=System Backup
Comment=Backup the system to LiveCD/DVD
Exec=kdesu /usr/bin/remastersys-gui
Icon=/usr/share/icons/remastersys.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=System
OnlyShowIn=KDE
X-KDE-SubstituteUID=true
GenericName[en_US]=System Backup
