[Desktop Entry]
Encoding=UTF-8
Name=Remastersys Installer
Name[pt_BR]=Remastersys - Instalador
GenericName=System Backup
GenericName[pt_BR]=Backup de Sistema
Comment=Install live system to hard drive
Comment[pt_BR]=Instala um sistema de Live CD no disco rígido
Exec=ysudo /usr/bin/remastersys-installer --gui
Icon=/usr/share/icons/hicolor/128x128/apps/remastersys-installer.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=System
OnlyShowIn=KDE
X-KDE-SubstituteUID=true
GenericName[en_US]=System Backup
