[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Remastersys Grub Restore
GenericName=Remastersys Grub Restore
Comment=Restore grub
Exec=remsu /usr/bin/remastersys-grub-restore gui
Icon=/usr/share/icons/remastersys.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=GTK;System
NotShowIn=KDE
X-KDE-SubstituteUID=true
GenericName[en_US]=Grub Restore
