Package: refisefuqui-gui
Priority: optional
Section: system
Installed-Size: 144
Maintainer: Nerun <nerunblogs@gmail.com>
Architecture: all
Version: 1.24
Depends: gparted, read-edid, refisefuqui (>= 1.24), xterm, yad
Description: Remasteriza e cria backups do sistema Debian
 Esta é a interface visual do Refisefuqui.
 Para mais informações visite http://linuxernoob.blogspot.com.br
