Package: refisefuqui
Priority: optional
Section: system
Installed-Size: 1312
Maintainer: Nerun <nerunblogs@gmail.com>
Architecture: all
Version: 1.24
Depends: awk, bash, coreutils, dialog, fdisk, findutils, grub-pc, hwdata, laptop-detect, live-boot-initramfs-tools, live-boot, live-config-sysvinit | live-config-systemd, live-config, memtest86+, mkisofs | genisoimage, mount, os-prober, passwd, rsync, sed, squashfs-tools, sudo, syslinux | xorriso, syslinux-utils, util-linux
Conffiles:
 /etc/refisefuqui/software.version 3393cc3dfa9128a291ceb67235a9a8b3
 /etc/refisefuqui/preseed/custom.seed 7e3aa6d1958baf72d369392fdb175486
 /etc/refisefuqui/isolinux/vesamenu.c32 5a25bff3b63f5fa50b31c1f21c9981f8
 /etc/refisefuqui/isolinux/stdmenu.cfg a90d8e3f458bad634de29af77bae19f6
 /etc/refisefuqui/isolinux/isolinux.cfg 8d469fa4d3549469fbd91c198f0183b6
 /etc/refisefuqui/isolinux/menu.cfg 1c846e8adf9a4ba87a056938819c3ba2
 /etc/refisefuqui/isolinux/isolinux.bin d8076c2646464d9a6e6210a0d8e1508e
 /etc/refisefuqui/isolinux/live.cfg 98b398d3e541337b2478f5fd7d2bbadf
 /etc/refisefuqui/isolinux/memtest86.bin 95f689bd6c9842be2e1d9991b991abfe
 /etc/refisefuqui/isolinux/splash.png 0ddd4618e2e04dc1bd04823827c7488c
 /etc/refisefuqui/refisefuqui-installer.conf 44a12462ccadfc52a1fc44524bce52d8
 /etc/refisefuqui.conf c65dd49abae1f5ff702ca5bd271eb640
Description: Remasteriza e cria backups do sistema Debian
 O ReFiSeFuQui permite criar uma Distribuição em Live CD ou fazer um backup do sistema instalado em sua máquina.
 Para mais informações visite http://linuxernoob.blogspot.com.br
