[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=ReFiSeFuQui Instalar Live CD no HD
GenericName=Instalador do Live CD
Comment=Instala o sistema do Live CD no disco rígido
Exec=remsu /usr/bin/refisefuqui-installer\ gui
Icon=/usr/share/pixmaps/refisefuqui-installer.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=GTK;System
NotShowIn=KDE
X-KDE-SubstituteUID=true
GenericName[en_US]=System Backup
