
[Desktop Entry]
Name=ReFiSeFuQui Ferramenta de USB Inicializável
GenericName=Ferramenta de USB Inicializável
Comment=Ferramenta de criação de USB inicializável
Exec=remsu /usr/bin/refisefuqui-usb-key-copy-tool
Icon=/usr/share/icons/refisefuqui.png
Terminal=false
MultipleArgs=false
Type=Application
Encoding=UTF-8
Categories=GTK;System
NotShowIn=KDE
X-KDE-SubstituteUID=true

