
label live
	menu label Live CD
	kernel /live/vmlinuz
	append initrd=/live/initrd.img boot=live config quiet splash

label livefailsafe
	menu label Live CD (modo seguro)
	kernel /live/vmlinuz
	append initrd=/live/initrd.img boot=live config noapic noapm nodma nomce nolapic pci=nomsi nomodeset radeon.modeset=0 nouveau.modeset=0 nosmp vga=normal

label memtest
	menu label Testar a RAM
	kernel /isolinux/memtest.bin
	append -

label hd
	menu label Boot pelo HD
	localboot 0x80
	append -




